In [89]:
import time
import requests

In [96]:
response = requests.get('https://reddit.com')

In [90]:
url = 'https://jsonplaceholder.typicode.com/posts'

response = requests.get(url)

if response.status_code == 200:
    posts = response.json()
    for post in posts[:5]:
        print(f"Title: {post['title']}\nBody: {post['body']}\n")
else:
    print("Failed to fetch posts")

Title: sunt aut facere repellat provident occaecati excepturi optio reprehenderit
Body: quia et suscipit
suscipit recusandae consequuntur expedita et cum
reprehenderit molestiae ut ut quas totam
nostrum rerum est autem sunt rem eveniet architecto

Title: qui est esse
Body: est rerum tempore vitae
sequi sint nihil reprehenderit dolor beatae ea dolores neque
fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis
qui aperiam non debitis possimus qui neque nisi nulla

Title: ea molestias quasi exercitationem repellat qui ipsa sit aut
Body: et iusto sed quo iure
voluptatem occaecati omnis eligendi aut ad
voluptatem doloribus vel accusantium quis pariatur
molestiae porro eius odio et labore et velit aut

Title: eum et est occaecati
Body: ullam et saepe reiciendis voluptatem adipisci
sit amet autem assumenda provident rerum culpa
quis hic commodi nesciunt rem tenetur doloremque ipsam iure
quis sunt voluptatem rerum illo velit

Title: nesciunt quas odio
Body: repudiandae veniam quaerat sunt sed
alias aut fugiat sit autem sed est
voluptatem omnis possimus esse voluptatibus quis
est aut tenetur dolor neque

In [101]:
import pandas as pd
pd.DataFrame(posts)

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

In [103]:
# Adding a post
post_data = {
    'title': 'Educational Post',
    'body': 'This is a test post for educational purposes using JSONPlaceholder API.',
    'userId': 1,
}

response = requests.post(url, json=post_data)

if response.status_code == 201:
    new_post = response.json()
    print(f"Post created successfully: {new_post}")
else:
    print("Failed to create post")

Post created successfully: {'title': 'Educational Post', 'body': 'This is a test post for educational purposes using JSONPlaceholder API.', 'userId': 1, 'id': 101}

In [104]:
# Updating a post
put_url = 'https://jsonplaceholder.typicode.com/posts/1' # Update post with id 1
update_data = {
    'title': 'Updated Title',
    'body': 'Updated body content.',
    'userId': 1,
}
response = requests.put(put_url, json=update_data)
print("Updated Post:", response.json())

Updated Post: {'title': 'Updated Title', 'body': 'Updated body content.', 'userId': 1, 'id': 1}

In [105]:
# Deleting a post
delete_url = 'https://jsonplaceholder.typicode.com/posts/1' # Delete post with id 1
response = requests.delete(delete_url)
if response.status_code == 200:
    print("Post deleted successfully")
else:
    print("Failed to delete post")

Post deleted successfully

In [107]:
from dotenv import load_dotenv
import os

# Load the environment variables from the .env file
load_dotenv()

True

In [109]:
api_key = os.getenv('API_KEY')

In [111]:
print(url)

https://jsonplaceholder.typicode.com/posts

In [112]:
headers = {
    "Accept-Encoding": "gzip, deflate, br",
    'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64; rv:123.0) Gecko/20100101 Firefox/123.0',
    'Authorization': f'Bearer {api_key}',  # Simulate an API key (Note: JSONPlaceholder does not actually require authentication)
    'Content-Type': 'application/json',
}

In [114]:

# Making a GET request with headers
response = requests.get(url, headers=headers)
print("Response with headers:", response.json()[0:2])  # Show the first 2 posts

Response with headers: [{'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}, {'userId': 1, 'id': 2, 'title': 'qui est esse', 'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'}]

In [ ]:
# limit сколько значений мы хотим получить на одной странице
# page какую страницу хотим посмотреть

In [ ]:
# 'https://jsonplaceholder.typicode.com/posts?_page=10&_limit=100&_id=10'

In [116]:
pagination_url = 'https://jsonplaceholder.typicode.com/posts'

# Simulating basic rate limiting handling (Note: JSONPlaceholder does not rate limit)
import time
for i in range(3):  # Assume you can only make 1 request per second
    response = requests.get(pagination_url, params={'_limit': 1, '_page': i+1})
    print(f"Page {i+1} post:", response.json())
    time.sleep(1)  # Wait for 20 seconds before the next request

Page 1 post: [{'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}]
Page 2 post: [{'userId': 1, 'id': 2, 'title': 'qui est esse', 'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'}]
Page 3 post: [{'userId': 1, 'id': 3, 'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut', 'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'}]

## Working with mongodb

In [117]:
!pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in /home/zhango/.local/lib/python3.10/site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /home/zhango/.local/lib/python3.10/site-packages (from pymongo) (2.6.1)

In [ ]:
from pymongo import MongoClient
import csv
import pandas as pd

In [118]:
# Your connection string
connection_string = "mongodb://common-thistle-mg1.alaps.kz.prod.bash.kz:27017,common-thistle-mg2.alaps.kz.prod.bash.kz,common-thistle-mg3.alaps.kz.prod.bash.kz:27017/?replicaSet=thistle&readPreference=secondaryPreferred"

In [119]:
client = MongoClient(connection_string)

In [120]:
client

MongoClient(host=['common-thistle-mg3.alaps.kz.prod.bash.kz:27017', 'common-thistle-mg2.alaps.kz.prod.bash.kz:27017', 'common-thistle-mg1.alaps.kz.prod.bash.kz:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='thistle', readpreference='secondaryPreferred')

In [121]:
db = client['thistle']
collection = db['ip_fraud_check']

In [122]:
db

Database(MongoClient(host=['common-thistle-mg3.alaps.kz.prod.bash.kz:27017', 'common-thistle-mg2.alaps.kz.prod.bash.kz:27017', 'common-thistle-mg1.alaps.kz.prod.bash.kz:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='thistle', readpreference='secondaryPreferred'), 'thistle')

In [123]:
collection

Collection(Database(MongoClient(host=['common-thistle-mg3.alaps.kz.prod.bash.kz:27017', 'common-thistle-mg2.alaps.kz.prod.bash.kz:27017', 'common-thistle-mg1.alaps.kz.prod.bash.kz:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='thistle', readpreference='secondaryPreferred'), 'thistle'), 'ip_fraud_check')

In [124]:
collection.count_documents({})

368998

In [125]:
documents = collection.find({}).batch_size(1000) # Adjust batch size as needed

In [128]:
type(documents)

pymongo.cursor.Cursor

In [ ]:
from IPython.display import clear_output

In [129]:
with open('ip_fraud_check.csv', 'w', newline='', encoding='utf-8') as csvfile:
    writer = csv.writer(csvfile)

    # Write the header
    header = ['_id', 'ip', 'checks']
    writer.writerow(header)
    i = 0
    
    # Write the documents to the CSV
    for i_doc, document in enumerate(documents):
        try:
            if i_doc % 10 == 0:
                print(f'doing {i_doc}')

            writer.writerow([document['_id'], document['ip'], document['checks']])
            if i_doc >= 99:
                break
                
        except Exception as e:
            print(f"Exception occured: {e}")
            continue
        time.sleep(0.15)

doing 0
doing 10
doing 20
doing 30
doing 40
doing 50
doing 60
doing 70
doing 80
doing 90

In [130]:
scamalytics_result = pd.read_csv('ip_fraud_check.csv')

In [131]:
scamalytics_result

,_id,ip,checks
0,64bf4b2cda44b800ad51c6cc,206.62.53.79,"[{'risk': 'low', 'score': 0, 'proxytype': 'DCH..."
1,64bf4b2cda44b800ad51c6d4,5.188.65.90,"[{'risk': 'medium', 'score': 25, 'proxytype': ..."
2,64bf4b3cda44b800ad51c7c4,185.250.31.148,"[{'risk': 'medium', 'score': 25, 'proxytype': ..."
3,64bf4b3cda44b800ad51c7d2,89.219.21.57,"[{'risk': 'low', 'score': 0, 'proxytype': 'DCH..."
4,64bf4b45da44b800ad51c867,5.76.88.5,"[{'risk': 'low', 'score': 16, 'proxytype': '0'..."
...,...,...,...
95,64bf4bf0da44b800ad51d6fc,89.43.166.15,"[{'risk': 'low', 'score': 14, 'proxytype': '0'..."
96,64bf4bf3da44b800ad51d73f,82.200.155.138,"[{'risk': 'low', 'score': 17, 'proxytype': '0'..."
97,64bf4bf6da44b800ad51d768,85.193.104.13,"[{'risk': 'medium', 'score': 25, 'proxytype': ..."
98,64bf4bf8da44b800ad51d7af,79.133.189.69,"[{'risk': 'medium', 'score': 25, 'proxytype': ..."
99,64bf4bf8da44b800ad51d7b8,149.27.67.174,"[{'risk': 'medium', 'score': 20, 'proxytype': ..."

## Working with mysql

In [ ]:
!pip install mysql-connector-python

In [ ]:
!pip install python-dotenv

In [132]:
import mysql.connector

In [133]:
database_password = os.getenv('MYSQL_PASSWORD')

In [134]:
conn = mysql.connector.connect(
    host='kolesa-aps-dbmy1.alahd.kz.test.bash.kz',
    user='analytics_airflow',
    password=database_password,
    database='kolesa'
)

In [136]:
print(type(conn))

<class 'mysql.connector.connection_cext.CMySQLConnection'>

In [137]:
cursor = conn.cursor()

In [138]:
cursor.execute("SHOW TABLES")

In [139]:
print("Tables in the database:")
for (table_name,) in cursor:
    print(table_name)

Tables in the database:
bucket_filters
bucket_filters_test
bucket_rules
bucket_rules_history
bucket_rules_test
package_services_with_price
packages_in_advert
packages_services_schedule
phinxlog
price_filter_rules
price_filter_rules_kl_24357
price_filters
price_filters_kl_24357
price_rules
price_rules_aleinikov
price_rules_history
price_rules_pelivan
protection_phones
user_segments
user_segments_archive_messages
user_segments_imports
user_segments_limits
user_segments_margin
user_segments_packages
user_segments_packages_eduard
user_segments_services
user_segments_services_eduard

In [140]:
cursor.execute('select * from user_segments_packages limit 10')

In [141]:
result = []
for row in cursor.fetchall():
    result.append(row)

In [143]:
cursor.description

[('id', 3, None, None, None, None, 0, 49667, 63),
 ('user_id', 3, None, None, None, None, 0, 53257, 63),
 ('package_name', 253, None, None, None, None, 0, 4097, 255),
 ('cat_id', 3, None, None, None, None, 0, 49161, 63),
 ('coeff', 3, None, None, None, None, 0, 32769, 63),
 ('fixed_price', 3, None, None, None, None, 1, 32768, 63),
 ('created_at', 7, None, None, None, None, 0, 1153, 63),
 ('import_id', 8, None, None, None, None, 1, 32768, 63),
 ('import_name', 253, None, None, None, None, 1, 0, 255)]

In [144]:
column_names = [column[0] for column in cursor.description]

In [145]:
pd.DataFrame(result, columns = column_names)

,id,user_id,package_name,cat_id,coeff,fixed_price,created_at,import_id,import_name
0,2465004,88899701,threeday-sale,2,60,None,2023-12-01 17:30:24,None,None
1,2465005,103545909,threeday-sale,3,77,None,2023-12-20 11:44:30,None,None
2,2465006,164158889,threeday-sale,3,77,None,2023-12-21 13:20:17,None,None
3,2465007,164159216,threeday-sale,3,77,None,2023-12-21 13:20:29,None,None
4,2465008,101591041,threeday-sale,2,60,None,2023-12-27 10:14:10,None,None
5,2465009,83350595,threeday-sale,2,60,None,2024-01-04 13:58:49,None,None
6,2465010,162514789,threeday-sale,2,60,None,2024-01-04 13:58:49,None,None
7,2465011,100888167,threeday-sale,2,65,None,2024-01-08 16:20:27,None,None
8,2465012,103545909,threeday-sale,3,77,None,2024-01-10 16:55:43,None,None
9,2465013,90213455,threeday-sale,2,77,None,2024-01-10 16:59:22,None,None