## Ввод-вывод

In [7]:
# print() функция для вывода чего-либо в консоль
print('Hi guys')

# Комменты можно оставлять через "#"

Hi guys

In [8]:
# input() для считывания данных через консоль
name = input()

Dake

In [9]:
print(name)

Dake

In [1]:
# Syntax Errors
print('Hello)

SyntaxError: unterminated string literal (detected at line 2) (3090142317.py, line 2)

## Создание переменных. Арифметические операции

In [2]:
# Создание переменных и присвоение значения
a = 10
b = 25
c = a + b

In [3]:
print(c)

35

<thead><tr><th><p style="text-align:center;">Operator</p>

</th><th><p style="text-align:center;">Description</p>

</th><th><p style="text-align:center;">Syntax</p>

</th></tr></thead><tbody><tr><th><p style="text-align:center;">+</p>

</th><th>Суммирование: Прибавляет 2 переменные</th><th><p style="text-align:center;">x + y</p><div></div>

</th></tr><tr><th><p style="text-align:center;">–</p>

</th><th>Вычитание: Минусует переменную от другой</th><th><p style="text-align:center;">x – y</p>

</th></tr><tr><th><p style="text-align:center;">*</p>

</th><th>Умножение: Умножает одну переменную на другую</th><th><p style="text-align:center;">x * y</p>

</th></tr><tr><th><p style="text-align:center;">/</p>

</th><th>Деление (возвращает float): Делит одну переменную на другую</th><th><p style="text-align:center;">x / y</p>

</th></tr><tr><th><p style="text-align:center;">//</p>

</th><th>Деление (возвращает floor): Делит одну переменную на другую</th><th><p style="text-align:center;">x // y</p>

</th></tr><tr><th><p style="text-align:center;">%</p>

</th><th>Модуль: возвращает остаток от делений одной переменной на другую</th><th><p style="text-align:center;">x % y</p>

</th></tr><tr><th><p style="text-align:center;">**</p>

</th><th>Возведение в степень (экпонента): Возвращает одну переменную возведенную в степень другой</th><th><p style="text-align:center;">x ** y</p>

</th></tr></tbody>

In [6]:
# Примеры вычислений
print('Суммирую', a, b, '=', a+b)
print('Вычитаю', a, b, '=', a-b)
print('Умножаю', a, b, '=', a*b)
print('Делю', a, b, '=', a/b)
print('Делю без остатка', b, a, '=', b//a)
print('Беру остаток от деления', 127, b, '=', 127%b)
print('Возвожу в степень', a, b, '=', a**b)
# Сложные выражения со скобками

Суммирую 10 25 = 35
Вычитаю 10 25 = -15
Умножаю 10 25 = 250
Делю 10 25 = 0.4
Делю без остатка 25 10 = 2
Беру остаток от деления 127 25 = 2
Возвожу в степень 10 25 = 10000000000000000000000000

In [112]:
# Примеры ceil, floor, round

In [10]:
import math
from math import ceil, floor, sqrt

In [12]:
print("ceil(22.5)", ceil(22.5))
print("floor(22.5)", floor(22.5))
print("round(22.6)", round(22.5))

ceil(22.5) 23
floor(22.5) 22
round(22.6) 22

#### Дано два числа a и b. Найдите гипотенузу треугольника с заданными катетами.

<br><br>**Входные данные** <br>
В двух строках вводятся два числа (числа целые,положительные, не превышают 1000).


<br><br>**Выходные данные** <br>
Выведите ответ на задачу.

<br><br> Пример <br>
(3,4) -> 5.0

In [15]:
a = int(input())
b = int(input())

print( sqrt(a**2 + b**2) )

5
6
7.810249675906654

#### Дано натуральное число. Выведите его последнюю цифру.<br>

Пример <br>
179 -> 9

In [17]:
number = int(input())
print(number%10)

1643
3

#### Пирожок в столовой стоит a рублей и b копеек. Определите, сколько рублей и копеек нужно заплатить за n пирожков. <br>
**Входные данные**<br>
<br>
Программа получает на вход три числа: a, b, n.<br>
**Выходные данные**<br>
<br>
Программа должна вывести два числа: стоимость покупки в рублях и копейках.<br>
Пример <br>
(10,25,4) -> 41

In [19]:
price_in_rubles = int(input())
price_in_kopeikas = int(input())
n_pirozhkov = int(input())

total_price_in_rubles = (price_in_rubles * n_pirozhkov) + (price_in_kopeikas * n_pirozhkov)//100
total_price_in_kopeikas = (price_in_kopeikas * n_pirozhkov)%100

print(total_price_in_rubles, total_price_in_kopeikas)

12
66
90
1139 40

## Типы данных

In [20]:
# Текстовые типы данных
sentence = "Today i walked with my dog." # str (String)

# Числовые типы данных
x = 42      # int (Integer)
pi = 3.1415 # float (Float)

# Boolean Type:
is_smart = True # bool (Booolean - True/False )

# None Type:
diagnosis = None

# Sequence Types:
families = ['Lanister', 'Baratheon', 'Stark', 'Targaryen'] # list
car_gearbox = ('mechanical', 'automatic')  # tuple
range_ten = range(1, 1000, 2) # range

# Mapping Type: 
stock_mappings = {
    'Apple': 'APPL',
    'Nvidia': 'NVDA',
    'Microsoft': 'MSFT'
} # dict (Dictionary)

# Set Types: 
fruits = {'apple', 'banana', 'orange', 'pineapple'} # set
solar_system_planets = frozenset({'Mercury', 'Venus', 'Earth', 'Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune'}) # frozenset

# Binary Types: bytes, bytearray, memoryview

In [21]:
# Переменная может изменять свой тип динамически
some_variable = 23
print(type(some_variable))

some_variable = True
print(type(some_variable))

some_variable = 23.5
print(type(some_variable))

some_variable = 'text'
print(type(some_variable))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'str'>

In [ ]:
# type() - возвращает тип данной у переменной

In [29]:
# Преобразование из одного типа в другой тип
print(type(int('23123')))
print(type(str(-2523)))
print(type(list('24214')))
print(int(252.11225))
print(float(5))

<class 'int'>
<class 'str'>
<class 'list'>
252
5.0

In [36]:
# isinstance() - сравнивание типов данных
a = 'SOS'
another_text = 'OSO'
some_boolean_flag = True
print(isinstance('24122', str))
print(isinstance(a, type(another_text)))
print(isinstance(some_boolean_flag, list))

True
True
False

<img src='https://files.realpython.com/media/t.78f3bacaa261.png' width='350' height='350' style="float: left;">

<colgroup><col><col><col></colgroup><thead><tr><th style="width: 233.333px">Operator</th><th style="width: 233.333px">Description</th><th style="width: 233.333px">Syntax</th></tr></thead><tbody><tr><td style="width: 233.333px">&gt;</td><td  style="width: 233.333px">Greater than: True if the left operand is greater than the right</td><td style="width: 233.333px">x &gt; y</td></tr><tr><td  style="width: 233.333px">&lt;</td><td  style="width: 233.333px">Less than: True if the left operand is less than the right</td><td style="width: 233.333px">x &lt; y</td></tr><tr><td style="width: 233.333px">==</td><td style="width: 233.333px">Equal to: True if both operands are equal</td><td style="width: 233.333px">x == y</td></tr><tr><td style="width: 233.333px">!=</td><td style="width: 233.333px">Not equal to – True if operands are not equal</td><td style="width: 233.333px">x != y</td></tr><tr><td style="width: 233.333px">&gt;=</td><td style="width: 233.333px">Greater than or equal to True if the left operand is greater than or equal to the right</td><td style="width: 233.333px">x &gt;= y</td></tr><tr><td style="width: 233.333px">&lt;=</td><td style="width: 233.333px">Less than or equal to True if the left operand is less than or equal to the right</td><td style="width: 233.333px">x &lt;= y</td></tr></tbody>

In [42]:
print(families)

['Lanister', 'Baratheon', 'Stark', 'Targaryen']

In [43]:
x = 0
y = 5

# Пример if statement
if y < x:
    print('yes 1')

if y > x:
    print('yes 2')

if y == x:
    print('yes 3')

if y: # Тоже самое что bool(y). Т.к. y != 0 то bool(y) = True
    print('yes 4')

if x:
    print('yes 5')

    
    
if families[0] == 'Lanisterr':
    print('first checked Lanisterr')
elif 'Baratheonn' in families:
    print('second checked Baratheonn')
elif 'Stark' in families:
    print('third checked Start')
else:
    print('No matching families')
# Пример с elif, else

# Пример с несколькими кондициями

# not , is , in ,

yes 2
yes 4
third checked Start

In [44]:
print(families[0] == 'Lanisterr')

False

- Логические Операторы: Логические операторы (and, or, not) могут сочетать или инвертировать условия.
- Операторы Принадлежности: in и not in проверяют, существует ли значение в коллекции.
- Ноль, None и Пустые Коллекции: 0, None, [], {}, () и '' (пустая строка) оцениваются как False в условиях.
- Приоритет: У логических операторов есть правила приоритета; not имеет наивысший приоритет, за ним следует and, затем or.

In [ ]:
# Операторы in is

Входные данные
Даны два целых числа, каждое число записано в отдельной строке.<br>

Выходные данные
Выведите наибольшее из данных чисел.

In [48]:
number_1 = int(input())
number_2 = int(input())

if number_1 > number_2:
    print('Maximum number is:', number_1)
elif number_1 == number_2:
    print('Numbers are equal')
else:
    print('Maximum_number is:', number_2)

261
266
Maximum_number is: 266

In [ ]:
#and = умножение
#or = прибавление

print(True or True and False or False or True)
print(True + True * False + False + True >= 1)

Требуется определить, является ли данный год високосным. (Напомним, что год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.)

Входные данные
Вводится единственное число - номер года (целое, положительное, не превышает 30000).

Выходные данные
Требуется вывести слово YES, если год является високосным и NO - в противном случае.

In [ ]:
year = int(input())
if year % 4 == 0 and year % 100 != 0 :

Требуется определить, бьет ли ладья, стоящая на клетке с указанными координатами (номер строки и номер столбца), фигуру, стоящую на другой указанной клетке.
Входные данные

Вводятся четыре числа: координаты ладьи (два числа) и координаты другой фигуры (два числа), каждое число вводится в отдельной строке. Координаты - целые числа в интервале от 1 до 8.
Выходные данные

Требуется вывести слово YES, если ладья сможет побить фигуру за 1 ход и NO - в противном случае.

In [59]:
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())

if (x1 == x2 or y1 == y2) and (x1, y1) != (x2, y2):
    print('YES')
else:
    print('NO')

1
1
1
1
NO

# Входные данные

Даны три натуральных числа a, b, c, записанные в отдельных строках. Определите, существует ли невырожденный треугольник с такими сторонами.
Выходные данные

Если треугольник существует, выведите строку YES, иначе выведите строку NO.

In [2]:
a = int(input())
b = int(input())
c = int(input())

if (a+b) < c or (b+c)<a or (c+a) < b:
    print("No")
else:
    print("YES")

10
5
4
No